.row {
  margin: 20px;
  color: white;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  width: 100%;
  object-fit: contain;
  max-height: 150px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 350px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}
